<div class="container">
  <pre id="asciiLogo" class="asciiLogo"></pre>
  <div class="spacer"></div>
  <div class="menu">
    <div class="option">Select options:</div>
    <div class="menu-row">
      <span class="left">1) Difficult level</span>
      <div class="option-grid">
        <label>
          <input id="easy" type="radio" name="difficulty" disabled />
          <div id="easyLabel">"Easy"</div>
        </label>
        <label>
          <input id="medium" type="radio" name="difficulty" disabled />
          <div id="mediumLabel">"Medium"</div>
        </label>
        <label>
          <input id="hard" type="radio" name="difficulty" disabled />
          <div id="hardLabel">"Hard"</div>
        </label>
      </div>
      <span class="right">(D)</span>
    </div>
    <div class="menu-row">
      <span class="left">2) Game mode</span>
      <div class="option-grid">
        <label>
          <input type="radio" name="mode" value="normal" disabled />
          Normal
        </label>
        <label>
          <input type="radio" name="mode" value="speedrun" disabled />
          Speedrun
        </label>
      </div>
      <span class="right">(M)</span>
    </div>
  </div>
  <div class="spacer"></div>
</div>