@import url('../styles/variables.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--spacing);
  height: 100%;
  box-sizing: border-box;
}

.asciiLogo {
    color: black;
    text-align: center;
    white-space: pre;
}

.subTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.spacer {
  flex-grow: 1;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  font-family: monospace;
  gap: 0.5rem;
  margin: 0 auto;
  border-radius: var(--radius);
  border: var(--innerBorder);
  padding: var(--spacing);
}

.option {
  margin-bottom: var(--spacing);
  font-size: xx-large;
}

.menu-row {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--spacing);
  font-size: x-large;
}

.left {
  text-align: left;
  white-space: nowrap;
}

.right {
  text-align: right;
  white-space: nowrap;
}
