.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
  height: 100%;
  box-sizing: border-box;
}

.asciiLogo {
    color: black;
    text-align: center;
    white-space: pre;
}

.subTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.spacer {
  flex-grow: 1;
}

.instruction {
  font-weight: bold;
  margin-bottom: 8px;
}

.menu {
  font-family: monospace;
}
