<div class="container">
  <pre id="asciiLogo" class="asciiLogo"></pre>
  <div id="subTitle" class="subTitle"></div>
  <div class="spacer"></div>
  <div class="menu">
    <div class="option" class="option">Select option:</div>
    <div class="menu-row">
      <span class="left">1) New Game</span>
      <span class="right">(N)</span>
    </div>
    <div class="menu-row">
      <span class="left">2) Load Game</span>
      <span class="right">(L)</span>
    </div>
    <div class="menu-row">
      <span class="left">3) Instructions</span>
      <span class="right">(I)</span>
    </div>
    <div class="menu-row">
      <span class="left">4) Option</span>
      <span class="right">(O)</span>
    </div>
  </div>
  <div class="spacer"></div>
</div>